<table class="table table-bordered table-hover text-center">
  <thead>
    <tr>
      <td>Nome</td>
      <td>Descrição</td>
      <td>Departamento</td>
      <td>Preço</td>
      <td>Quantidade</td>
      <td colspan=2>Ações</td>
    </tr>
  </thead>
  <tbody>
    <% if @produtos.size > 0 %>
      <%= render @produtos %>
    <% else %>
      <tr>
        <td colspan=5>Nenhum produto encontrado</td>
      </tr>
    <% end %>
  </tbody>
  
</table>

